@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Keyframes for continuous scrolling */
/* Keyframes for continuous scrolling */
@keyframes snakeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Translate by 50% since we duplicate the logos */
    transform: translateX(-50%);
  }
}

/* Marquee container styles */
.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Marquee content styles with animation */
.marquee-content {
  display: flex;
  animation: snakeScroll 10s linear infinite;
}
